// @function rem($px) {
//     @return $px / $font-size + 0rem;
// }


// header

.multicolored-block__list {
    display: flex;
    margin-bottom: rem(25px);
}

.multicolored-block {
    .multicolored-block__item {
        height: rem(8px);
        width: 7.6923%;
        
        &_1 {
            background: #a03a1a;
        }
    
        &_2 {
            background: #7c2d57;
        }
    
        &_3 {
            background: #c5352a;
        }
    
        &_4 {
            background: #ae641f;
        }
    
        &_5 {
            background: #d37a26;
        }
    
        &_6 {
            background: #785953;
        }
    
        &_7 {
            background: #79677b;
        }
    
        &_8 {
            background: #4c342c;
        }
    
        &_9 {
            background: #c13d5c;
        }
    
        &_10 {
            background: #9d571f;
        }
    
        &_11 {
            background: #4d0041;
        }
    
        &_12 {
            background: #2f2338;
        }
    
        &_13 {
            background: #74693e;
        }
    }

    &_catalog {
        .multicolored-block__item {
            height: rem(8px);
            width: 7.1428%;
            &_1 {
                background: #c9b992;
            }
        
            &_2 {
                background: #a6acd0;
            }
        
            &_3 {
                background: #ebb4a1;
            }
        
            &_4 {
                background: #d8e399;
            }
        
            &_5 {
                background: #fff9a1;
            }
        
            &_6 {
                background: #a7d7cd;
            }
        
            &_7 {
                background: #ff7f7f;
            }
        
            &_8 {
                background: #c6e6fa;
            }
        
            &_9 {
                background: #92b3ab;
            }
        
            &_10 {
                background: #edbbd6;
            }
        
            &_11 {
                background: #f8d69e;
            }
        
            &_12 {
                background: #b07fbf;
            }
        
            &_13 {
                background: #94a2b6;
            }
            &_14 {
                background: #d8e8bc;
            }
        }
    }
}

.header {
    background: url('../img/main-header-bg.png') center center no-repeat;
    background-size: cover; 
    width: 100%;
    // height: rem(980px);
    height: rem(960px);
    // height: 70%;
    color: #fff;
    text-transform: uppercase;

    &_catalog {
        background: #FFF;
        height: 100%;

    }

    &_cardproduct {
        background: url('../img/card-header-bg.png') center center no-repeat;
        background-size: cover;
        height: rem(960px);
        text-transform: uppercase;
        margin-bottom: rem(25px);
    }

    @include phones {
        height: rem(750px);
    }
}

.through-panel {
    display: flex;

    a {
        color: #fff;
    }

    &_black {
        a {
            color: #000;
        }
    }
}

.through-panel__col {
    width: 33.333%;

    &_left {

        @include phones {
            width: 50%;
        }
    }

    &_center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        @include phones {
            display: none;
        }
    }

    &_right {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include phones {
            width: 50%;
        }
    }
}

.through-panel__logo {
    width: rem(175px);
}

.through-panel__logo-pic {
    max-width: 100%;
}

.through-panel__col-list {
    display: flex;
}

.through-panel__col-item {
    margin-right: rem(40px);

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.through-panel__col-link {

    
}

.button {
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(200px);
    height: rem(37px);
    font-size: rem(12px);
    text-transform: uppercase;
    transition: .1s;
    
    a {
        color: #fff;
    }

    &_black {
        border: 2px solid #000;

        a {
            color: #000;
        }

        &_mobile {
            display: none;
            @include phones {
                display: flex;
                margin-top: rem(20px);
            }
        }
    }

    &_position-1 {
        margin-top: rem(70px);
    }

    &_align {
        margin-bottom: rem(50px);

        &_bottom {
            position: absolute;
            top: 93%;
            left: 0;
        }
    }

    &:active {
        font-size: rem(11px);
        width: rem(198px);
        height: rem(35px);
    }
}

.header-bottom__slider {
    width: 65%;
    height: rem(500px);
    margin: 0 auto;
    display: flex;
    align-items: center;

    .bx-wrapper .bx-pager {
        display: flex;
        justify-content: flex-start;
    }

    .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #fff;
      }
}

.header-bottom__item {
    margin-left: 3px;

    @include phones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.header-bottom__item-title {
    font-size: rem(26px);
    font-weight: lighter;

    @include phones {
        font-size: rem(20px);
    }
}

.header-bottom__item-desc {
    font-size: rem(20px);
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;

    @include phones {
        font-size: rem(16px);
    }
}

.content-top {
    // height: 30%;
    height: rem(415px);
    background: #f6f6f6;
    margin-bottom: rem(25px);
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.content-slider {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%);
    // width: rem(1170px);
    // height: rem(480px);
    width: 62%; 

    .bx-wrapper .bx-prev {
        display: none;
    }
    
    .bx-wrapper .bx-next {
        display: none;
    }

    @include phones {
        top: -15%;
    }
}

.content-var__item {

    @include phones {
        margin-right: rem(1px);
    }
}

.content-var__point-title {
    text-transform: uppercase;
    font-size: rem(16px);
    margin-bottom: rem(20px);

    @include phones {
        font-size: rem(12px);
    }
}

.content-var__point-oldprice {
    font-size: rem(14px);
    text-decoration: line-through;
    color: gray;
    margin-bottom: rem(5px);

    @include phones {
        font-size: rem(12px);
    }
}

.content-var__point-newprice {
    font-size: rem(18px);

    @include phones {
        font-size: rem(14px);
    }
}

.content-var__list {
    width: 100%;
    // height: rem(480px);
    // display: flex;
    margin: 0 auto;
    // overflow: hidden;
}

.content-var__point {
    margin-right: 5.128%;

    &:last-child {
        margin-right: 0;
    }
}

.content-var__point-colrow {
    width: 100%;
    height: rem(7px);
    margin-top: rem(21px);
    margin-bottom: rem(21px);

    &_1 {
        background: #d1d1d1;
    }

    &_2 {
        background: #730d98;
    }

    &_3 {
        background: #d59965;
    }
}

.content-var__point-painting {
    min-width: 100%;
}

// .content-bottom {
//     height: rem(1465px);
// }

.content-var__schedule {
    display: flex;
    // justify-content: space-between;
}

.content-inf {
    width: 74%;
    margin: 0 auto;
    margin-top: rem(25px);
}

.content-inf__aboutcomp {
    display: flex;

    @include phones {
        flex-direction: column;
        align-items: center;
    }
}

.content-inf__pic {
    margin-right: rem(30px);

    @include phones {
        margin-right: 0;
    }
}

.content-inf__text {
    width: 40%;
    position: relative;

    @include phones {
        display: none;
    }
}

.content-inf__desc {

    @include phones {
        display: none;
    }
}

.content-inf__title {
    font-weight: bold;
    margin-bottom: rem(50px);

    @include phones {
        display: none;
    }
}

.content-inf__img {
    max-width: 100%;
}

.content-inf__sometext {
    display: flex;
    margin-top: rem(125px);

    @include phones {
        margin-top: rem(80px);
        flex-direction: column;
        align-items: center;
    }

    .content-inf__imgblock-title {

        @include phones {
            left: -120%;
        }
    }

    .content-inf__imgblock-link {
    
        @include phones {
            display: none;
        }
    }
}

.content-inf__imgblock {
    width: 50.112%;
    height: rem(491px);
    // border: 1px solid black;
    margin-left: rem(25px);

    &_catalog {
        width: 64.718%;
        margin: 0 auto;
        margin-top: rem(25px);
        margin-bottom: rem(55px);
    }

    @include phones {
        margin-left: 0;
        width: 100%;
    }
}

.content-inf__imgblock-list {
    display: flex;
    width: 100%;
    height: 100%;
}

.content-inf__imgblock-item {
    width: 25%;
    border-right: 1px solid #fff;
    position: relative;

    &:last-child {
        border-right: 0px solid #fff;
    }

    
    &_bg-1 {
        background-image: url(../img/name-com.png);
        background-size: cover;
    }

    &_bg-2 {
        background-image: url(../img/name-fabric.png);
        background-size: cover;
    }

    &_bg-3 {
        background-image: url(../img/name-prod.png);
        background-size: cover;
    }

    &_bg-4 {
        background-image: url(../img/design-prod.png);
        background-size: cover;
    }

    &:hover {
        .content-inf__imgblock-title {
            top: 55%;
            // transition: .3s;
        }

        .content-inf__imgblock-hidlink {
            opacity: 1;
            // transition: .3s;
        }
    }
}

.content-inf__imgblock-title {
    position: absolute;
    top: 65%;
    left: -50%;
    transform: rotate(270deg);
    color: #fff;
    font-size: rem(18px);
    width: 250px;
    transition: .3s;
}

.content-inf__imgblock-hidlink {
    display: flex;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    opacity: 0;
    transition: .3s;
}

.content-inf__imgblock-link {
    margin-right: rem(5px);

    @include phones {
        display: none;
    }
}

.content-inf__imgblock-shadow {
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.4);
}

.footer {
    background: url('../img/footer-bg.png') center center no-repeat;
    background-size: cover;
    color: #fff;
    font-size: rem(14px);
    height: rem(100px);
    position: relative;
    display: block;
    margin-top: rem(100px);

    &_catalog {
        margin-top: rem(85px);
    }
}

.footer__col-left {
    width: 70%;
    height: 100%;
    // background: rgba(red, 0.3);
    display: flex;
}

.footer__col {
    width: rem(320px);
    height: 100%;
    // background: yellow;
    margin-right: rem(45px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include phones {
        display: none;
    }

    &:last-child {
        margin-right: 0;
    }

    &_width-min {
        width: rem(120px);
    }
    
    &_width-max {
        width: rem(180px);
    }
}

.footer__col-top {
    margin-bottom: rem(10px);
}

.footer__col-right {
    color: gray;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__col-link {
    color: #fff;
}

.footer__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.4);
}

.footer__col-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: rem(20px);

    @include phones {
        display: flex;
    }
}

// footer dropdown 

.footer__dropdown {
    position: absolute;
    top: -100%;
    left: 0%;
    background: red;
    width: 100%;
    height: 100px;
    // border: 1px solid black;
    // opacity: 0;
}





.footer__col-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__col-list {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.footer__col-item {
    margin-right: rem(15px);
    opacity: 0.5;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        opacity: 1;
    }
}



// catalog


.bread-crumbs {
    width: 95%;
    margin: 0 auto;
    margin-top: rem(25px);
    margin-bottom: rem(70px);

    &_color_gray {
        z-index: 9999;
        .bread-crumbs__item {
            a {
                color: gray;
            }

            &::after {
                color: gray;
            }
        }

        &_margin {
            margin-left: 0;
            text-transform: none;
        }
    }

    // &_color_white {
    //     z-index: 99999;
    //     margin-left: 0;
    //     .bread-crumbs__item {
    //         a {
    //             color: #fff;
    //         }

    //         &::after {
    //             color: #fff;
    //         }
    //     }
    // }
}

.bread-crumbs__list {
    display: flex;
}

.bread-crumbs__item {
    margin-right: rem(10px);
    
    &::after {
        content: "|";
        margin-left: rem(5px);
    }

    &:last-child {

        &::after {
            content: "";
        }
    }
}

.content-catalog__list {
    width: 64.718%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

// .content-catalog__row {
//     margin-top: rem(40px);

//     &:first-child {
//         margin-top: 0;
//     }
// }

// .content-catalog__schedule {
//     display: flex;
// }

.content-catalog__item {
    // margin-right: 2.564%;
    width: 31.6239%;
    margin-bottom: rem(35px);

    // &:last-child {
    //     margin-right: 0;
    // }
}

.content-catalog__item-colrow {
    width: 100%;
    height: rem(7px);
    margin-top: rem(21px);
    margin-bottom: rem(21px);

    &_1 {
        background: #d1d1d1;
    }

    &_2 {
        background: #730d98;
    }

    &_3 {
        background: #d59965;
    }
}

.content-catalog__item-img {
    max-width: 100%;
    width: 100%;
}

.content-catalog__item-title {
    margin-bottom: rem(20px);
    text-transform: uppercase;
}

.content-catalog__item-desc {
    font-size: rem(14px);
    color: gray;
}

.content-catalog__item-oldprice {
    font-size: rem(14px);
    text-decoration: line-through;
    color: gray;
    margin-bottom: rem(5px);
}

.content-catalog__item-newprice {
    font-size: rem(18px);
}

.content-catalog__item-painting {
    position: relative;
}

.content-catalog__colorcolumn-list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 99%;
}

.content-catalog__colorcolumn-item {
    height: 100%;
    width: 20%;
    
    &_1 {
        background: #c40000;
    }
    
    &_2 {
        background: #4d59a1;
    }

    &_3 {
        background: #8fa62d;
    }

    &_4 {
        background: #e18c44;
    }

    &_5 {
        background: #ffd200;
    }
}

.colrow__list {
    display: flex;
}

.colrow__item {
    width: 20%;
    height: rem(7px);

    &_1 {
        background: #c40000;
    }
    
    &_2 {
        background: #4d59a1;
    }

    &_3 {
        background: #8fa62d;
    }

    &_4 {
        background: #e18c44;
    }

    &_5 {
        background: #ffd200;
    }
}

.content-catalog {
    a {
        color: #000;
    }

    &_bottom {
        margin-bottom: rem(100px);
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(65px);
}

.pagination__list {
    display: flex;
}

.pagination__item {
    margin-right: rem(5px);

    &:hover {
        transform: scale(1.1);
    }

    a {
        color: #000;
        font-weight: bold;
    }

    &:last-child {
        margin-right: rem(10px);
    }
}

.pagination__nextarrow-link {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(1.1);
    }
}




// cardproduct


.header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(960px);
    display: flex;
}

.header-content__col {

    &_left {
        width: 39%;
        background: rgba(#000, 0.7);
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    &_right {
        width: 61%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}

.header-content__col-container {
    margin-right: rem(30px);
}

.header-content__top {
    width: 100%;
    height: rem(100px);
    background: rgba(#000, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content__top-text {
    width: 90%;
}

.header-content__list {
    display: flex;
    width: 100%;
}

.header-content__item {
    height: rem(159px);
}

.header-content__img {
    max-width: 100%;
    height: rem(159px);
}

.header-top {
    z-index: 99999;
}

.content-categories__title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

.content-categories__var {

    &_margin {
        margin-bottom: rem(65px);
    }
}

.content-categories__link {
    display: flex;
    justify-content: center;
    color: #000;
    font-weight: bold;
    margin-bottom: rem(140px);
    margin-right: rem(10px);
}

.content-categories__link-title {
    margin-right: rem(10px);
}


// slider

.bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
    // border: 2px solid black;
    transform: rotate(-135deg);
}

.bx-wrapper .bx-prev {
    left: -10%;
    border-right: 2px solid#FFF;
    border-top: 2px solid #FFF;

    @include phones {
        left: -18%;
    }
}

.bx-wrapper .bx-next {
    position: absolute;
    left: 107%;
    border-left: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
    bottom: rem(-70px);
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #cacaca;
    text-indent: -9999px;
    display: block;
    width: 70px;
    height: 3px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #757575;
}
