@function rem($px) {
    @return $px / $font-size + 0rem;
}


// header

.header {
    background: url('../img/main-header-bg.png') center center no-repeat;
    background-size: cover; 
    width: 100%;
    height: rem(980px);
    color: #fff;
    text-transform: uppercase;
}

.header__main-block {
    display: flex;
    height: rem(70px);
    color: #fff;

    &_color {
        color: #000;
    }

}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: rem(10px);
}

.nav__item-link {
    color: #fff;

    &_black {
        color: #000;
    }
}

.col-center {
    display: flex;
    justify-content: center;
    width: 33%;
    align-items: center;

    @include phones {
        display: none;
    }
}

.col-left,
.col-right {
    width: 33%;
    align-items: center;

    @include phones {
        width: 50%;
    }
}

.col-right {
    display: flex;
    justify-content: flex-end;
}

.col-left {
    display: flex;
    justify-content: flex-start;
}

.logo__pic {
    width: 9.25rem;
    height: 2.75rem;
}

// multicolored block

.multicolored__block {
    width: 100%;
    height: 1%;
    margin-bottom: rem(20px);
}

.multicolored__list {
    display: flex;
    width: 100%;
}

.multicolored__item {
    width: 8%;
    height: rem(5px);
    background: #000;

    &_1 {
        background: #a13a1a;
    }

    &_2 {
        background: #7f2d58;
    }

    &_3 {
        background: #c53529;
    }

    &_4 {
        background: #ae641f;
    }

    &_5 {
        background: #d27a26;
    }

    &_6 {
        background: #775952;
    }

    &_7 {
        background: #c30000;
    }

    &_8 {
        background: #7b677c;
    }

    &_9 {
        background: #46342c;
    }

    &_10 {
        background: #c23d5d;
    }

    &_11 {
        background: #bc5721;
    }

    &_12 {
        background: #4f0040;
    }

    &_13 {
        background: #2f2338;
    }

    &_14 {
        background: #74693e;
    }
}

.header__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    // border: 1px solid green ;
}

.slider-one {
    display: flex;
    // justify-content: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50%;
    position: absolute;
    top: 15%;
    // overflow: hidden;
    // border: 3px solid green;
}

.slider-one__item {
    display: flex;
    // float: left;
    flex-direction: column;
    // margin-top: 50px;
    // margin-bottom: 50px;
    // margin-left: 50px;
    // margin-right: 50px;
    margin-right: 2px;

    @include phones {
        align-items: center;
        text-align: center;
    }
}

.slider__item-content {
    margin-bottom: rem(40px);
    font-size: rem(20px);
}

.slider__item-title {
    margin-bottom: rem(20px);
    font-weight: bold;
}

// .slider__item-text {
//     font-weight: bold;
// }

// content

.content__another {
    background: #f6f6f6;
    // background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: rem(415px);

    @include phones {
        height: rem(315px);
    }
    
}

.slider-two {
    position: absolute;
    top: rem(-200px);
    width: 100%;

    @include phones {
        top: rem(-88px);
    }
}

.slider-two__content-list {
    display: flex;
}

.slider-two__content-item {
    margin-right: rem(24px);

    &:last-child {
        margin-right: 0;
    }
}

.slider-two__content-item__img {
    width: rem(370px);
    height: rem(250px);

    @include phones {
        height: rem(90px);
    }
}

.slider-two__content-item__colorline {
    width: 100%;
    height: rem(7px);
    margin-top: rem(10px);
    margin-bottom: rem(10px);

    &_gray {
        background: #d1d1d1;
    }

    &_purple {
        background: #730d98;
    }

    &_brown {
        background: #d59965;
    }
}

.slider-two__content-item__title {
    text-transform: uppercase;
    margin-bottom: rem(5px);
}

.slider-two__content-item__oldprice {
    font-size: rem(12px);
    color: #9f9f9f;
    text-decoration: line-through;
}

.slider-two__content-item__newprice {
    font-weight: bold;
}

// about company



.content__main-aboutcompany {
    width: 60%;
    margin: 0 auto;
}

.content__main-aboutcompany-list {
    margin-top: rem(50px);
    height: 100%;
}

.content__main-aboutcompany-item {
    display: flex;
    // margin-bottom: rem(100px);
    height: rem(380px);
    margin-bottom: rem(100px);

    &_reverse {
        flex-direction: row-reverse;
    }

    @include phones {
        &:first-child {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    
}

.content__main-aboutcompany-pic {
    width: rem(670px);

    @include phones {
        width: 100%;
        margin-bottom: rem(35px);
    }
}

.content__main-aboutcompany-img {
    max-width: 100%;
}

.content__main-aboutcompany-title {
    margin-bottom: rem(10px);
    font-weight: bold;
}

.content__main-aboutcompany-text {
    margin-bottom: rem(20px);
}

.content__main-aboutcompany-text_content {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-left: rem(30px);

    &_align {
        margin-left: 0;
        margin-right: rem(30px);
    }

    @include phones {
        display: none;
    }
}

.content__main-aboutcompany-pic__list {
    display: flex;
    height: 100%;
}

.content__main-aboutcompany-pic__item {
    background: url('../img/name-prod.png');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border: 1px solid black;
    margin-right: 2px;
    width: rem(130px);
    overflow: hidden;

    &_catalog-width {
        width: 14%;
    }

    &_two {
        background: url('../img/design-prod.png ');
    }

    &_three {
        background: url('../img/name-com.png');
    }

    &_four {
        background: url('../img/name-fabric.png');
    }

    &:hover {
        .content__main-aboutcompany-pic__item-title {
            top: 50%;
        }

        .content__main-aboutcompany-pic__item-hiddenlink {
            opacity: 1;
        }        
    }

    &::after {
        content: '';
        background: rgba(#000, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
    }
    
    &:last-child {
        margin-right: 0;
    }
}

.content__main-aboutcompany-pic__item-title {
    color: #fff;
    font-size: rem(18px);
    transform: rotate(-90deg) translateY(-50%);
    position: absolute;
    width: rem(230px);
    top: 60%;
    left: -60%;
    z-index: 5;
    transition: .3s;

    @include phones {
        left: -140%;
    }
}

.content__main-aboutcompany-pic__item-hiddenlink {
    font-size: rem(12px);
    color: #fff;
    display: flex;
    align-items: center;
    z-index: 20;
    margin: 0 auto;
    margin-bottom: rem(20px);
    opacity: 0;
    transition: .5s;
}

.content__main-aboutcompany-pic__item-hiddenlink-arrow {
    margin-left: rem(10px);
    width: rem(16px);
    height: rem(12px);
}

.footer {
    background: url('../img/footer-bg.png') center center no-repeat;
    background-size: cover;
    color: #fff;
    font-size: rem(14px);
    height: rem(100px);
    position: relative;
}

.footer__col {
    width: 50%;
    &_left {
        display: flex;
    }

    &_right {
        display: flex;
        justify-content: flex-end;
    }
}

.footer__inf-list {
    display: flex;

    @include phones {
        display: none;
    }
}

.footer__inf-mobile {
    text-decoration: underline;
    color: #fff;
    display: flex;
    align-items: center;
}

.dropdown {
    color: #fff;
    position: absolute;
    top: -100%;
    left: -999999px;
    background:#415365;
    padding: rem(10px);
    border-radius: rem(15px);
    box-shadow: 5px 5px 13px #000;
    opacity: 0;
    // transition: .2s;
    z-index: 8888;
}

.dropdown__inf-item {
    margin-bottom: rem(5px);

    &:last-child {
        margin-bottom: 0;
    }
}

.dropdown__close {
    position: absolute;
    top: -8%;
    left: 95%;
    background: #415365;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    
}

.dropdown__close-img {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.dropdown__active {
    left: 0;
    opacity: 1;
    transition: .1s;
}

.footer__inf-item {
    margin-right: rem(40px);

    &:last-child {
        margin-right: 0;
    }
}

.footer__inf-title {
    margin-bottom: rem(10px);
}






// cardproduct style


.card {
    background: url('../img/card-header-bg.png') center center no-repeat;
    position: relative;
}

.cardProduct-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__col-left {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 61.25rem;
        background: rgba(#000, 0.7);
    }

    &__col-right {
        width: 60%;
        height: 61.25rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}

.header__top {
    z-index: 888;
}

.fabric-inf {
    height: 60%;
    font-size: rem(14px);
    margin-right: rem(40px);
}

.fabric-inf__title {
    font-size: rem(38px);
    margin-bottom: rem(30px);
}

.fabric-inf__oldprice {
    margin-top: rem(30px);
    margin-bottom: rem(20px);
}

.fabric-inf__newprice {
    font-size: rem(16px);
    font-weight: bold;
    margin-bottom: rem(50px);
}

.fabric-spec__list {
    margin-top: rem(50px);
    margin-bottom: rem(30px);
}

.fabric-spec__item {
    margin-top: rem(30px);

    &:first-child {
        margin-top: 0;
    }
}

.fabric-avail {
    display: flex;
    align-items: center;
    margin-top: rem(20px);
}

.fabric-avail__title {
    margin-left: 10px;
}

.fabric-type {
    width: 100%;
}

.fabric-type__title {
    background: rgba(#000, 0.7);
    font-size: rem(18px);
    height: rem(100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fabric-type__title-text {
    width: 90%;
}

.fabric-type__list {
    // border: 3px solid red;
    display: flex;
}

.fabric-type__item {
    height: rem(160px);
    width: 25%;
    overflow: hidden;
    position: relative;

    &:hover {
        .layer-opacity {
            background: rgba(#000, 0);
        }
    }
}

.layer-opacity {
    content: '';
    position: absolute;
    display: block;
    background: rgba(#000, 0.4);
    height: rem(160px);
    width: 100%;
}

.content__categories {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.content__categories-title {
    margin-top: rem(40px);
    margin-bottom: rem(40px);
    font-size: rem(24px);
}

.categories__menu {
    height: 23.75rem;
    width: 60%;
    margin: 0 auto;

    &_catalog {
        width: 100%;
    }
}

.categories__link {
    color: #000;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.categories__link {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories__link-img {
    width: 25px;
    height: 10px;
    margin-left: 10px;
}



// catalog 

.catalog {
    background: none;
    height: 6.25rem;
}

.content__var {
    width: rem(1170px);
    margin: 0 auto;

    &_top {
        margin-top: rem(50px);
    }

    &_center {
        margin-top: rem(50px);
        margin-bottom: rem(50px);
    }

    &_bottom {
        margin-top: rem(50px);
        margin-bottom: rem(50px);
    }
}

.pag {
    display: flex;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.pag__list {
    display: flex;
}

.pag__item {
    margin-right: 3px;
    a {
        color: #000;
    }
}

.pag__lastPage {
    a {
        color: #000;
    }
}

.pag__arrow {
    margin-left: 5px;
}

.pag__arrow-icon {
    height: 10px;
    width: 20px;
}

// slider-one

.bx-wrapper {
    height: 60%;
    border: none;
    background: transparent;
    -webkit-box-shadow: none;
    max-width: 80% !important;
    left: 5%;

    @include phones {
        left: 0;
    }
}

.bx-prev {
    left: -30%;
    position: absolute;
    top: 50%;
    // margin-top: -16px;
    outline: 0;
    text-indent: -9999px;
    z-index: 9999;
    // content: '';
    display: block;
    width: 25px;
    height: 25px;
    border: 3px solid #fff;
    border-bottom: none;
    border-right: none;
    transform: rotate(-45deg);
    overflow: hidden;

    @include phones {
        left: -26%;
    }
}

.bx-next {
    left: 114%;
    position: absolute;
    top: 50%;
    // margin-top: -16px;
    outline: 0;
    text-indent: -9999px;
    z-index: 9999;
    // content: '';
    display: block;
    width: 25px;
    height: 25px;
    border: 3px solid #fff;
    border-bottom: none;
    border-right: none;
    transform: rotate(-225deg);
    overflow: hidden;

    @include phones {
        left: 114%;
    }
}

.bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 0 !important;
    background: rgba(#fff, 0.4);
    width: 75px;
    height: 5px;

    @include phones {
        width: 45px;
        height: 5px;
    }
}



.bx-wrapper
.bx-pager
.bx-default-pager
a:hover,
.bx-wrapper
.bx-pager.bx-default-pager
a.active,
.bx-wrapper
.bx-pager
.bx-default-pager
a:focus {
    background: rgba(#fff, 0.8);
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    display: flex;

}

.slider-two {
    .bx-wrapper {
        margin: 0 auto;
    }

    .bx-viewport {
        height: 400px !important;

        @include phones {
            height: 260px !important;
        }
    }

    .bx-controls-direction {
        display: none;
    }

    // .bx-pager {
    //     // margin: 0 auto;
    // }
    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        width: 100%;
    }

    .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
        display: block;
    }

    .bx-pager-link {
        background: rgba(#cacaca, 0.4) !important;
    }

    .active {
        background: rgba(#757575,0.7) !important;
    }
}
// .bx-viewport {
//     height: 200px !important;
// }

// .bx-next {
//     position: absolute;
//     top: 50%;
//     content: '';
//     display: block;
//     width: 25px;
//     height: 25px;
//     border: 3px solid #fff;
//     border-bottom: none;
//     border-right: none;
//     transform: rotate(-225deg);
//     overflow: hidden;
// }

// .bx-prev {
//     position: absolute;
//     top: 50%;
//     left: -13%;
//     content: '';
//     display: block;
//     width: 25px;
//     height: 25px;
//     border: 3px solid #fff;
//     border-bottom: none;
//     border-right: none;
//     transform: rotate(-45deg);
//     overflow: hidden;
// }

// .bx-pager {
//     display: flex;
// }

// .bx-pager-item {
//     content: "";
//     // font-size: 0;
//     width: 100px;
//     height: 20px;
//     display: block;
//     background: #fff;
//     margin: 0 auto;
// }
