@function rem($px) {
    @return $px / $font-size + 0rem;
}


// header

.header {
    background: url('../img/main-header-bg.png') center center no-repeat;
    background-size: cover; 
    width: 100%;
    // height: rem(980px);
    height: 50%;
    color: #fff;
    text-transform: uppercase;
}

.footer {
    background: url('../img/footer-bg.png') center center no-repeat;
    background-size: cover;
    color: #fff;
    font-size: rem(14px);
    height: rem(100px);
    position: relative;
}

